/* Write your CSS code here */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.home-image {
  width: 100%;
  max-width: 200px;
  max-height: 250px;
}

@media screen and (min-width: 768px) {
  .home-image {
    max-width: 350px;
    max-height: 350px;
  }
}

.home-heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 40px;
  }
}
